<div class="col-sm-5 no-padding">
</div>     
<div class="col-sm-6 no-padding">
  <div class="col-sm-3">
    <div class="previous-page">
      <%= link_to '<', :back %>
    </div>
  </div>
  <div class="col-sm-8">
	  <%= scrivito_image_tag(@obj, :image, class: "img-responsive") %>
    <%= scrivito_tag(:div, @obj, :project_title, class: "works-title") %>
    <%= scrivito_tag(:div, @obj, :specs, class: "works-specs") %>
    <%= scrivito_tag(:div, @obj, :project_date) %>
    <%= scrivito_tag(:div, @obj, :description) %>
  </div>
</div>
