<!-- OUR WORK SECTION -->        
  <div class="col-sm-6">
    <div class="col-sm-3">
      <div class="previous-page">
        <a href="/__scrivito/985204a985c01ea1">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="col-sm-8">
	    <%= scrivito_image_tag(@obj, :image, class: "img-responsive") %>
    	<%= scrivito_tag(:div, @obj, :project_title, class: "works-title") %>
    	<%= scrivito_tag(:div, @obj, :specs, class: "works-specs") %>
    	<%= scrivito_tag(:div, @obj, :project_date) %>
    	<%= scrivito_tag(:div, @obj, :description) %>
    </div>
  </div>
