<%= scrivito_tag_list :ul, @obj, :toclist do |list, child| %>
  <%= list.tag :li do %>
    <%= link_to child.display_title, scrivito_path(child) %>
  <% end %>
<% end %>


<!-- OUR WORK SECTION -->        
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-sm-8">
      <div>&nbsp;</div>
    </div>
    <div class="col-sm-4">
	    <%= scrivito_image_tag(@obj, :image, class: "img-responsive") %>
    </div>
    <div class="works-content">
    	<%= scrivito_tag(:div, @obj, :project_title, class: "works-title") %><br>
    	<%= scrivito_tag(:div, @obj, :project_date) %>
    	<%= scrivito_tag(:div, @obj, :location) %>
    	<%= scrivito_tag(:div, @obj, :description) %>
    </div>
  </div>
</div>